<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/security
     http://www.springframework.org/schema/security/spring-security-3.2.xsd
     http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

<http use-expressions="true">
		<intercept-url pattern="/themes/**" access="isAuthenticated()" />

		<access-denied-handler error-page="/403" />

		<form-login login-page='/login?attention' login-processing-url="/j_spring_security_check"
			default-target-url="/login" always-use-default-target="false"
			authentication-failure-url="/login?error" username-parameter="username"
			password-parameter="password" />

		<logout logout-url="/logout" logout-success-url="/"
			delete-cookies="JSESSIONID" invalidate-session="true" />
</http>
	
	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="select email as username, password, 1 as enabled from 
users where email=?"
				authorities-by-username-query="select email as username, role from users where email=?" />
		</authentication-provider>

	</authentication-manager>

</beans:beans>